extends layout

block content
  h1 SD Hacks
  ul
    li
      p='Name: ' + event[0].name
      p='Message: ' + event[0].message
  h2 Participants
  ul
     each people in event[0].people
       li
         p=people
block scripts
        script(src='/vendor/jquery-2.2.3.min.js')
        script(src='/vendor/jquery.form.min.js')
        script(src='/vendor/bootstrap.min.js')
