extends layout

block content
  div.form  
    each event, i in eventlist
      div.event
        a(href='/events/' + event.name)=event.name
    button.button(type='button', onclick="window.open('/create');", style="margin-top:15px") Create New Event
block scripts
        script(src='/vendor/jquery-2.2.3.min.js')
        script(src='/vendor/jquery.form.min.js')
        script(src='/vendor/bootstrap.min.js')
