extends layout

block content
  h1.
    Event List
  button(type='button', onclick="window.open('/create');") Create New Event
  ul
    each event, i in eventlist
      li
        a(href='/events/' + event.name)=event.name

block scripts
        script(src='/vendor/jquery-2.2.3.min.js')
        script(src='/vendor/jquery.form.min.js')
        script(src='/vendor/bootstrap.min.js')
