extends layout

block content

    img#logo(src="https://www.seeklogo.net/wp-content/uploads/2015/09/new-google-favicon-logo.png", width="250px", height="250px")

    div#bg
      .form
        form.login-form(action='/home', method='post')
          input(type='text', placeholder='Username')
          input(type='password', placeholder='Password')
          button.button(type="submit") login

block scripts.
    script(src='/vendor/jquery-2.2.3.min.js')
    script(src='/vendor/jquery.form.min.js')
    script(src='/vendor/bootstrap.min.js')
